<div>
    <h2>All our plants:</h2>
</div>

<h2>@Model.CurrentCategory </h2>
@{ 
    foreach(var plant in Model.Plants)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@plant.ImageThumbnailURL" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@plant.Price.ToString("c")</h3>
                    <h3>
                        <a>@plant.Name</a>
                    </h3>
                    <p>@plant.ShortDescription</p>
                </div>
            </div>
        </div>
    }
}

